<% post.post_comments.each do |post_comment| %>
  <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle small-profile-image" %>
  <span>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    
  </span>
  <%= post_comment.comment %>
<% end %>
  