<div class="container mt-3 ">
  <div class="row ">
    <div class="col-md-6 mt-3 mx-auto ">
      <h2 class="text-center">通知</h2>
      <% if @notifications.present? %>
        <%= link_to "全削除", notifications_path, method: :delete, class: "mb-2 btn btn-light" %>
        <% @notifications.each do |notification| %>
          <%= render "#{notification.action_type}", notification: notification %>
        <% end %>
      <% else %>
        通知はありません
      <% end %>
    </div>
  </div>
</div>