<div class="container-fluid">
  <div class="row mt-4">
    <div class="col my-4 text-center">
      <div class="mb-4">
        <h1>About...</h1>
      </div>
      <h2>ラーメン好きなみんな集まれ！</h2>
      <p style="font-size: 18;">このサイトは、ラーメン好きによるラーメン好きのための投稿サイトです。<br>
        食べたラーメンを投稿するもよし！<br>
        美味しそうなラーメンを探すもよし<br>
        みなさんでラーメンあふれるサイトにしましょう。<br>
        ぜひ会員登録をしてご利用ください。
      </p>
    </div>
  </div>
</div>
