<div class="jumbotron special" style="position: relative; overflow: hidden; height: 81vh;">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="position: absolute; top: 0; left: 0;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= asset_path('地球規模で考えろ-汁なし.jpg') %>" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="<%= asset_path('麺処蛇の目屋.jpg') %>" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img src="<%= asset_path('聖久御山店-貝ラーメン.jpg') %>" alt="Third slide">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4 justify-content-md-center">
      <div class="background col-sm-10 my-4 text-center">
        <div class="mb-4">
          <h1>About...</h1>
        </div>
        <h2>ラーメン好きなみんな集まれ！</h2>
        <p style="font-size: 18;">このサイトは、ラーメン好きによるラーメン好きのための投稿サイトです。<br>
          食べたラーメンを投稿するもよし！<br>
          美味しそうなラーメンを探すもよし<br>
          みなさんでラーメンあふれるサイトにしましょう。<br>
          ぜひ会員登録をしてご利用ください。
        </p>
      </div>
    </div>
  </div>
</div>