<div class="container">
  <h1 class="mt-4 mb-4">みんなのラーメン一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 mb-4">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image(600), class: "d-block mx-auto" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
