@use '~bootstrap/scss/bootstrap';



.extra-bold {
  font-weight: 900; /* 太いフォントにしたい */
}

.nav-item {
  margin-top: auto;
}


.rounded-circle {
  border-radius: 50%;
  object-fit: cover; /* 画像を正方形にクリップ */
  width: 100px; /* 画像の幅 */
  height: 100px; /* 画像の高さ */
}

.small-profile-image {
  width: 50px; /* 幅を適切なサイズに変更 */
  height: 50px; /* 高さを適切なサイズに変更 */
}

.footer {
  background-color: #ffcccc; /* フッターの背景色を設定 */
  color: black; /* テキストの色を白に設定 */
  padding: 20px 0; /* 上下に余白を追加 */
  text-align: center; /* テキストを中央寄せにする */
  position: absolute; /* フッターを絶対位置に設定 */
  bottom: 0; /* フッターをページの下部に配置 */
  width: 100%; /* フッターをページの幅に合わせる */
}