@use '~bootstrap/scss/bootstrap';



.extra-bold {
  font-weight: 900; /* 太いフォントにしたい */
}

.nav-item {
  margin-top: auto;
}


.rounded-circle {
  border-radius: 50%;
  object-fit: cover; /* 画像を正方形にクリップ */
  width: 100px; 
  height: 100px; 
}

.small-profile-image {
  width: 50px; 
  height: 50px;
}

.footer {
  background-color: #ffcccc; 
  color: black; 
  padding: 20px 0; 
  text-align: center; 
  position: fixed;
  bottom: 0;
  width: 100%;
}